mixin ArticleBox(title, content, button, imgName)
    .box
        .content
            h1=title
            p=content
            a(href="" class="button")=button
        .picture
            img(src=imgName, alt="dog")

mixin boxTitle(title, content)
    .content
        h1=title
        p=content

mixin priceBox(className, count, title, price)
    div(class=className)
        - for (var i=1; i<= count; i++)
            img(src="icon.png", alt="")
        h1=title
        h2=price
        ul
            li 1111
            li 2222
            li 3333
            li 4444
            li 5555
        a(href="" class="button") buy

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title DogLife.
        link(rel="stylesheet", href="index.css")
    body 
        .main
            include nav.pug
            +ArticleBox("標題","內容","按鈕","dog1.jpg")
            +boxTitle("Welcome", "nice to meet you")
            +ArticleBox("標題","內容","按鈕","dog1.jpg")
            +ArticleBox("標題","內容","按鈕","dog1.jpg")
            +boxTitle("價目表", "......")
            .priceBox
                +priceBox("basic", 1, "基本會員", "100元/年")
                +priceBox("advanced", 2, "進階會員", "200元/年")
                +priceBox("pro", 3, "高級會員", "300元/年")    
            +boxTitle("聯絡我們", "歡迎聯絡我們")
        .gray
            .contact
                form
                    label(for="name") 姓名
                    input(type="text" id="name" required)
                    label(for="email") 信箱
                    input(type="email" id="email" required)
                    label(for="feedback") 回饋
                    textarea(name="feedback", cols="30", rows="10")
                    input(type="submit" value="確認送出")
                .text
                    h2 地址
                    p XXXXXXXXX
                    h2 電話
                    p 01-123456
                    h2 信箱
                    p 123@mail.com
        .footer
            .content
                h2 關於我們
                p 歡迎聯絡我們
            .link
                h2 快速連結
                ul
                    li 首頁
                    li 目錄
                    li 地圖
                    li 聯絡
            .share
                h2 分享
                p 123456